<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Devenir developpeur full stack</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Pour cela, je compte poursuivre mes études jusqu'au niveau master et toujours en alternance avec la même entreprise.
      Je me suis récemment fait accepter à l'école du cesi où je compte faire ma rentrée scolaire au mois de Septembre.
    </p>
    <br>
    <p>
      Une fois mes études terminée, je souhaiterai donc être employé en tant que developpeur full-stack.
      Enfin, au bout d'une vingtaine d'année soit en millieu carrière j'aimerai être davantage dans le management, la gestion de projet, 
      voir la recherche de nouveau projet pour mon entreprise.
    </p>
  </mat-card-content>
  <mat-card-actions>
  <button style="margin-left: 10%;" (click)="close()" mat-button>Fermer</button>
  </mat-card-actions>
</mat-card>
