<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Developpeur, un métier passionnant</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Je suis quelqu'un qui aime beaucoup les echecs et apprecie les jeux de construction. 
      Selon moi, le developpement est comme un jeu de "légo" numérique dans lequel nous nous amusons à construire des applications. 
      Le fait d'observer au fur et à mesure le resultat visuel du code mis en place me sucite toujours des sensations d'excitations.
    </p>
    <br>
    <p>
      De plus, lorsque je suis concentrer dans mon travail et plus précisemment dans mon code, le temps défile à toute vitesse et va même parfois trop vite.
      Selon moi, cela est un signe que je suis bien dans la branche qui me correspond.
    </p>
  </mat-card-content>
  <mat-card-actions>
  <button style="margin-left: 10%;" (click)="close()" mat-button>Fermer</button>
  </mat-card-actions>
</mat-card>
