.panel {
  border-top: 0;
  border-bottom: 0;
  position: fixed;
  left: auto;
  top: 55px;
  right: 0;
  bottom: 0px;
  min-width: 450px;
  /*box-shadow: rgba(0, 0, 0, 0.21) 2px 5px 15px 0px;*/
  margin-bottom: 0;
  z-index: 100;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  box-shadow: 2px 5px 15px rgba(0,0,0,0.21);
  -moz-box-shadow: 2px 5px 15px rgba(0,0,0,0.21);
  -webkit-box-shadow: 2px 5px 15px rgba(0,0,0,0.21);
  overflow-y:scroll;
}
.back-panel {
  position: fixed;
  background-color: #55555552;;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

}
