<!--
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="single-portfolio">
        <img
          src="../../assets/images/PPEecran.png"
          width="200"
          heigh="200"
          class="portfolio-img"
        />
        <div class="portfolio-text">
          <h3>lol</h3>
          <p>lol</p>
        </div>
      </div>
    </div>
  <div class="col-md-4">
    <div class="single-portfolio">
      <img
        src="../../assets/images/PPE2ecran.png"
        width="200"
        heigh="200"
        class="portfolio-img"
      />
      <div class="portfolio-text">
        <h3>lol</h3>
        <p>lol</p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="single-portfolio">
    <img
      src="../../assets/images/xamarin.jpg"
      width="200"
      heigh="200"
      class="portfolio-img"
    />
    <div class="portfolio-text">
      <h3>lol</h3>
      <p>lol</p>
    </div>
  </div>
</div>
</div>
-->
<br />
<h1 style="text-align: center;">Liens PPE</h1>
<hr />
<br />
<div style="text-align: center;">
<mat-card class="single-portfolio">
  <mat-card-header>
    <mat-card-title>PPE : Epreuves E4-E6</mat-card-title>
    <mat-card-subtitle>Application Web</mat-card-subtitle>
  </mat-card-header>
  <img class="portfolio-img" mat-card-image src="https://robin67200.github.io/vilmus/assets/images/PPEecran.png" />
  <div class="portfolio-text">
    <p>
      Voici mon premier projet que j'ai réalisé sous Angular9 et dotnet core.
      Un jury peut cocher les critères de la grille d'évaluation de l'épreuves E4 ou E6 et les différentes notes se calculent
      automatiquement.
    </p>
    <a href="https://github.com/robin67200/PPE" target="_blank"
    ><button mat-button>Lien Github</button></a
    >
  </div>
</mat-card>
</div>
<div style="text-align: center;margin-top: 5px;">
  <mat-card class="single-portfolio">
    <mat-card-header>
      <mat-card-title>PPE2 : Gestion de planning de cours</mat-card-title>
      <mat-card-subtitle>Application Web</mat-card-subtitle>
    </mat-card-header>
    <img class="portfolio-img" mat-card-image src="https://robin67200.github.io/vilmus/assets/images/PPE2ecran.png" />
    <mat-card-content>
      <div class="portfolio-text">
      <p>
        Voici mon deuxième projet d'application web qui consiste en la création
        d'un planning de cours qui doit tenir compte des indisponibilités renseignées par les professeurs.
      </p>
      <div style="text-align: center">
      <a href="http://rjdevplanning.site/" target="_blank"
      ><button style="margin-left: 5%;" mat-button>Demo</button></a
    >
    <a href="https://github.com/robin67200/planning" target="_blank"
      ><button style="margin-left: 10%;" mat-button>Lien Github</button></a
    >
    </div>
  </div>
    </mat-card-content>
  </mat-card>
</div>
<div style="text-align: center; margin-top: 5px;" >
  <mat-card class="single-portfolio">
    <mat-card-header>
      <mat-card-title style="margin-left: 10;">PPE3 : FaceDetect</mat-card-title>
      <mat-card-subtitle>Application Mobile</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://robin67200.github.io/vilmus/assets/images/xamarin.jpg"
      class="portfolio-img"
    />
    <mat-card-content>
      <div class="portfolio-text">
      <p>
        Voici mon premier projet mobile. Cette application détecte le
        visage d'une personne et détermine son sexe et son âge grâce à une
        intelligence artificielle
      </p>
      <div style="text-align: center">
      <a href="https://github.com/jejeOtt/PPEFaceDetect" target="_blank"
        ><button mat-button>Lien Github</button></a
      >
      </div>
    </div>
    </mat-card-content>
  </mat-card>
</div>
