<mat-card class="example-card">
  <mat-card-content>
    <p>
      Je suis Robin Vilmus un jeune homme de 23 ans résident sur Strasbourg. 
      J'étudie actuellement l'informatique et plus précisemment le developpement en deuxième année de BTS SIO en alterance. 
      Mon entreprise est technology&strategy et se situe Schiltigheim. 
    </p>
    <br>
    <p>En plus de ma passion pour l'informatique, je suis quelqu'un qui apprécie jouer aux échecs et aime voyager</p>
  </mat-card-content>
  <mat-card-actions>
  <button style="margin-left: 10%;" (click)="close()" mat-button>Fermer</button>
  </mat-card-actions>
</mat-card>
