<br />
<h1 style="text-align: center;">Mes Compétences</h1>
<hr />
<br />
<div class="container">
  <mat-card>
    <div class="corps_competences animated bounceInLeft delay-1s">
      <div class="row competences">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div>
            <h1>Developpement</h1>
            <h5>
              HTML/CSS <i class="fa fa-html5"></i>/<i class="fa fa-css3"></i>
            </h5>
            <div class="progress">
              <div
                class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: 90%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                90%
              </div>
            </div>
            <br />

            <h5>
              C#/EntityFramework/.Net Core <i class="fa fa-delicious"></i>
            </h5>
            <div class="progress">
              <div
                class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: 60%"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                60%
              </div>
            </div>

            <br />

            <h5>Angular 9 <i class="fab fa-"></i></h5>
            <div class="progress">
              <div
                class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: 60%"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                60%
              </div>
            </div>

            <br />

            <h5>SqlServer/ MySQL <i class="fa fa-database"></i></h5>
            <div class="progress">
              <div
                class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: 70%"
                aria-valuenow="70"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                70%
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="reseau">
            <h1>Réseau</h1>
            <h5>Windows/Linux <i class="fa fa-windows"></i></h5>
            <div class="progress">
              <div
                class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: 80%"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                80%
              </div>
            </div>

            <br />

            <h5>Serveur Apache <i class="fas fa-network-wired"></i></h5>
            <div class="progress">
              <div
                class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: 65%"
                aria-valuenow="65"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                65%
              </div>
            </div>

            <br />

            <h5>
              Adressage IP, Routage, DHCP, DNS <i class="fas fa-desktop"></i>
            </h5>
            <div class="progress">
              <div
                class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: 40%"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                40%
              </div>
            </div>
            <br />

            <h5>
              VMware (Virtualisation PC/ Serveur) <i class="fa fa-desktop"></i>
            </h5>
            <div class="progress">
              <div
                class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                role="progressbar"
                style="width: 70%"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                70%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <mat-card>
        <mat-card-title style="text-align: center;">Résumé Graphique developpement</mat-card-title>
        <div>
          <div style="display: block">
            <canvas
              baseChart
              [datasets]="radarChartData"
              [options]="radarChartOptions"
              [labels]="radarChartLabels"
              [chartType]="radarChartType"
            >
            </canvas>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <mat-card>
        <mat-card-title style="text-align: center;">Résumé Graphique réseau</mat-card-title>
        <div>
          <div style="display: block">
            <canvas
              baseChart
              [datasets]="radarChartData2"
              [options]="radarChartOptions2"
              [labels]="radarChartLabels2"
              [chartType]="radarChartType2"
            >
            </canvas>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
